@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AnswerR Dashboard</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Ask New Question</h2>
        <p><a data-bind="click: sendNextQuestion" class="btn btn-default">Ask &raquo;</a></p>
    </div>
    <div class="col-md-5">
        <h2>Current Question</h2>
        <div data-bind="with: CurrentQuiz">
            <h4>Question: <!--ko text: question--><!--/ko--></h4>
            <h4>Answers:</h4>
            <ol data-bind="foreach: answers">
                <li class="correct-answer">
                    <div>
                        <div class="mar-left-5" style="display: inline-block" data-bind="text:Text"></div>
                    </div>
                </li>
            </ol>
            <h4>Results: </h4>
            <p>Correct: <!--ko text:correctCount--><!--/ko--></p>
            <p>Incorrect: <!--ko text:incorrectCount--><!--/ko--></p>
        </div>

    </div>
    <div class="col-md-4">
        <h2>Current Users</h2>
        <div data-bind="foreach: Users">
            <div data-bind="text: UserName"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        (function () {
            var vm = new MVCHost.IndexViewModel();            
            var rootDom = $("#root")[0];
            
            ko.applyBindings(vm, rootDom);
        })();
    </script>

}